{% extends 'base.html.twig' %}

{% block title %}Slot{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>
                Slot
            </h1>
        </div>
        <hr>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Start</th>
                <td>{{ slot.beginAt ? slot.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Koniec</th>
                <td>{{ slot.endAt ? slot.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_slot_index') }}">Wróć do kalendarza</a>
    <br><br>

    {% if (slot.rider.user == user) %}
        {{ include('slot/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
