{% apply inline_css %}
    <style>
        table {
            border-collapse: collapse;
            border: none;
        }
        td {
            padding-left:20px;
        }
        td:first-of-type {
            padding-left: 0;
            padding-right: 20px;
            border-right: 1px dashed;
        }
    </style>
    {% block email_content %}

    {% endblock %}
    {% block email_footer %}
    <br>
    <p>
        Pozdrawiamy<br>
        -----
    </p>
    <table>
        <tr>
            <td>
                <img src="{{ email.image('@images/wakepark_wroclaw_logo.png') }}" alt="Logo">
            </td>
            <td>
                Wake Park Wrocław<br>
                <a href="http://www.wakeparkwroclaw.com">www.wakeparkwroclaw.com</a><br>
                <a href="mailto:wake@wakeparkwroclaw.com">wake@wakeparkwroclaw.com</a><br>
                Tel: 516 474 855
            </td>
        </tr>
    </table>
    {% endblock %}
{% endapply %}