{% extends 'emails/email_base.html.twig' %}
{% block email_content %}
    <h2>Zarejestrował się nowy użytkownik!</h2>

    <p>
        Nowy użytkownik na wakeparkwroclaw.com:
    </p>
    <p><code>{{ user_email }}</code></p>
{% endblock %}