{% extends 'emails/email_base.html.twig' %}
{% block email_content %}
    <h2>Dzien dobry {{ name }}!</h2>

    <p>
        Zarejestrowaliśmy Cię w systemie rezerwacji wyciągu Wake Park Wrocław na poniższy email:
    </p>
    <p><code>{{ email.to[0].address }}</code></p>

    <p>
        Możesz od teraz zalogować się na swoje konto i rezerwować sloty na wyciągu.
    </p>

{% endblock %}