{% extends 'emails/email_base.html.twig' %}
{% block email_content %}
    <h2>Hi {{ name }}!</h2>

    <p>
        Your account at European Skimboarding Cup has been verified. You can now edit your profile and register for the ESC contests.
    </p>
{% endblock %}