{% extends 'base.html.twig' %}

{% block title %}
    Ceny
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>
                    Regulamin Wakepark Wrocław
                </h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ol>
                    <li>
                        Wakepark jest otwarty od 1 czerwca do 4 września oraz w ciepłe weekendy maja i września - informacje na www.wakeparkwroclaw.com i Facebook.
                    </li>
                    <li>
                        Godziny otwarcia wyciągów czerwiec-sierpień - godz. 9:00-20:00; maj, wrzesień - informacje na stronie www oraz Facebook.
                    </li>
                    <li>
                        Opłata za wyciąg zawiera korzystanie z kapoka wypornościowego oraz kasku - wyposażenia niezbędnego do pływania na wyciągu. Pływanie z pełnym zabezpieczeniem: w kasku, kamizelce wypornościowej jest obowiązkowe.
                    </li>
                    <li>
                        Opłata za wyciąg uprawnia do wejścia na pomost na czas 1 godziny zegarowej.
                    </li>
                    <li>
                        Pływanie rozpoczyna i kończy się o pełnej godzinie zegarowej.
                    </li>
                    <li>
                        Kupując bilet na wyciąg bez wyłączności wyrażasz zgodę na współdzielenie go z innymi użytkownikami.
                    </li>
                    <li>
                        Gwarancję indywidualnego używania wyciągu daje tylko wynajęcie go na wyłączność.
                    </li>
                    <li>
                        Wyciąg obsługuje na wodzie, w tym samym czasie, tylko jedną osobę.
                    </li>
                    <li>
                        Maksymalna ilość rezerwacji w czasie każdej godziny zegarowej wynosi 4.
                    </li>
                    <li>
                        Na pomost wpuszczane jest do 4 osób, z tym że 1 osoba pływa na wyciągu, a pozostałe osoby oczekują na swoją kolej.
                    </li>
                    <li>
                        Maksymalny czas spędzony na wodzie przez jedną osobę wynosi 15 minut.
                    </li>
                    <li>
                        Rezerwacje przyjmujemy przez telefon oraz internetowo przez www.wakeparkwroclaw.com.
                    </li>
                    <li>
                        Strona www.wakeparkwroclaw.com pozwala również na sprawdzenie aktualnej liczby wolnych miejsc na wyciągu.
                    </li>
                    <li>
                        Gdy są wolne miejsca, można skorzystać z wyciągu bez wcześniejszej rezerwacji. Rezerwacja taka jest możliwa w recepcji najwcześniej na 1 godzinę przed pływaniem.
                    </li>
                    <li>
                        Wypożyczając deskę, piankę lub korzystając z instruktora każda osoba płaci osobno, nawet jeśli współdzieli to z innymi klientami.
                    </li>
                    <li>
                        Prosimy o przychodzenie minimum 15 minut przed rozpoczęciem pływania. Jest to czas niezbędny do przygotowania się, tzn. dokonania płatności, rejestracji, otrzymania opaski na rękę, wypożyczenia sprzętu, przebrania się, przymierzenia kasku i kamizelki ratunkowej.
                    </li>
                    <li>
                        Urządzenia w obrębie Wakeparku przeznaczone są wyłącznie do użytkowania przez osoby pływające na wakeboardzie.
                    </li>
                    <li>
                        Użytkownicy korzystają z Wakeparku wyłącznie na własną odpowiedzialność.
                    </li>
                    <li>
                        Z jednej przeszkody może korzystać w tym samym czasie tylko jedna osoba.
                    </li>
                    <li>
                        Pływanie i użytkowanie wyciągów i przeszków w Wakeparku pod wpływem alkoholu lub środków odurzających jest zabronione.
                    </li>
                    <li>
                        Osoby, które nie ukończyły 18 roku życia, mogą korzystać z Wakeparku wyłącznie pod opieką rodziców, opiekunów lub innych przedstawicieli ustawowych.
                    </li>
                    <li>
                        Chodzenie po przeszkodach, przebywanie w strefie najazdów oraz zeskoków z urządzeń jest zabronione i grozi kalectwem lub śmiercią.
                    </li>
                    <li>
                        Pływanie na wakeboardzie jest sportem ekstremalnie niebezpiecznym, przestrzeganie powyższych zasad nie eliminuje w całości ryzyka urazów.
                    </li>
                    <li>
                        Ryzyko związane z amatorskim jak i wyczynowym korzystaniem z Wakeparku oraz z ewentualnymi wypadkami ponosi sam pływający, w związku z czym producent urządzeń i właściciel terenu nie ponoszą odpowiedzialności za szkody zarówno na osobie jak i na mieniu, wynikłe z niezgodnego z niniejszym regulaminem użytkowaniem Wakeparku, jako związane z ryzykiem sportowym.
                    </li>
                    <li>
                        Do wjeżdzania na przeszkody można używać wyłącznie specjalnych desek z wypożyczalni lub własnych desek. Standardowe deski wypożyczone na Wakeparku nie służą do wjeżdzania na przeszkody.
                    </li>
                    <li>
                        Podstawowe zasady bezpiecznego i sprawnego korzystania z Wakeparku:
                        <ul>
                            <li>
                                zanim przystąpisz do pływania zwróć szczególną uwagę na znakowanie i ostrzeżenia,
                            </li>
                            <li>
                                potraktuj pierwszy przejazd jako rozgrzewkę, która pozwoli Ci zaznajomić sięz terenem,
                            </li>
                            <li>
                                nie skacz na oślep,
                            </li>
                            <li>
                                bądź świadomy swoich ograniczeń i pływaj adekwatnie do poziomu swoich umiejętności,
                            </li>
                            <li>
                                szanuj teren i pozostałych uczestników,
                            </li>
                            <li>
                                czekaj na swoją kolej i start, nie wymuszaj pierwszeństwa,
                            </li>
                            <li>
                                dostosuj się do poleceń i porad osób sterujących wyciągiem,
                            </li>
                            <li>
                                po zakończeniu przejazdu wychodząc staraj się nie blokować następnych uczestników czekających na swój przejazd,
                            </li>
                        </ul>
                    </li>
                    <li>
                        Obsługa Wakeparku zastrzega sobie prawo do odmowy obsługi i usunięcia osób nie przestrzegających przepisów.
                    </li>
                    <li>
                        Zabrania się korzystania z Wakeparku następującym osobom:
                        <ul>
                            <li>
                                kontuzjowanym (skręcone kolana, kostki, itp.),
                            </li>
                            <li>
                                z chorobami układu ruchowego,
                            </li>
                            <li>
                                z wadami serca,
                            </li>
                            <li>
                                chorym na epilepsję,
                            </li>
                            <li>
                                kobietom w ciąży
                            </li>
                        </ul>
                    </li>
                    <li>
                        Każdy użytkownik powinien przestrzegać Ustawy z dnia 18 sierpnia 2011 r. o bezpieczeństwie osób przebywających na obszarach wodnych (Dz. U. 2011 nr 208 poz. 1. 1240)
                    </li>
                    <li>
                        Korzystając z Wakeparku składam <b>OŚWIADCZENIE:</b><br>
                        Oświadczam,ze zsotałem pouczony o zasadach bezpieczeństwa, a także zapoznałem się z regulaminem Wakeparku i w pełni go akceptuję. Na teren Wakeparku wchodzę na własne ryzyko i odpowiedzialność.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <br>
{% endblock %}